apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: name-alarm-servicemonitor
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: name-alarm-api
  namespaceSelector:
    matchNames:
      - monitoring
  endpoints:
    - port: metrics
      path: /metrics
      interval: 15s
